h3{ 
    text-transform: uppercase;
  
}
 h2{
font-family: sans-serif;
color: chartreuse;
}
p{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif

    
}
body{ 
    background-color: darkgoldenrod; 
}
.jobtitle{ 
    color: white;
    font-weight: bold;
    
}
footer{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: yellow;
}
main{
    font-family: fantasy;
    color: blue;
}
header{ 
    font-family: cursive;
    color: pink;
}
ol{ 
    font-size: 25px;
    font-weight: bold;
}
ul{ 
    font-size: 18px;
    font-weight: normal;
}
