body{ 
    background-color: crimson;
}
h1{ 
    color: cyan;
}
h2{
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family: cursive;
    color: honeydew;
}
hr{ 
    color: white;
}
img{ 
    animation: sepiaFilter 3s forwards;
}
@keyframes sepiaFilter {
    from {
        filter: blur(100px);
    }
    
    to {
        filter: blur(0px);

    }
    
}
h2:hover{
    font-size: 30px;
}
h1:hover{
    font-family: cursive;
}
a{ 
    color: black;
    font-size: 30px;
}
p:hover{ 
    font-size: 20px;
}

#TD{ 
    position: absolute;
    top: 75px;
    right: 75px;
}

